a {
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
}

a:hover {
  text-decoration: underline;
}
/* header */
a.header {
  color: rgb(0, 0, 0);
  opacity: 0.75;
}

nav.header {
  float: right;
  margin-right: 20px;
  clear: both;
}

a.profile img {
  border-radius: 60px;
  width: 32px;
}

a.bell img, a.apps img {
  width: 20px;
}

nav.header div {
  display: inline;
}

nav.header div a {
  padding-right: 15px;
}

div.hr a.profile {
  padding-right: 0;
}
/* main content */
.content {
  width: 600px;
  display: block;
  margin: 0 auto;
  clear: both;
}

div.content img {
  width: 272px;
}

div.content input {
  width: 632px;
}
/* footer */
a.footer {
  color: rgb(102, 102, 102);
}

nav.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  background-color: #F2F2F2;
  height: 40px;
  border-top: 1px solid #E4E4E4;
  line-height: 40px;
}

nav.footer div a {
}

nav.footer div.fl a {
  float: left;
  padding-left: 30px;
}

nav.footer div.fr a {
  float: right;
  padding-right: 30px;
}
