a {
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
}

a:hover {
  text-decoration: underline;
}
/* header */
a.header {
  color: rgb(0, 0, 0);
  opacity: 0.75;
}

nav.header {
  float: right;
  margin-right: 20px;
  clear: both;
}

a.profile img {
  border-radius: 60px;
  width: 32px;
}

a.bell img {
  border-radius: 60px;
}

a.bell img, a.apps img {
  width: 20px;
}

nav.header div {
  display: inline;
}

nav.header div a {
  padding-right: 15px;
}

div.hr a.profile {
  padding-right: 0;
}
/* main content */
.content {
  width: 648px;
  display: block;
  clear: both;
  margin: auto;
}

div.content {
  top: 154px;
  position: relative;
}

div.content img {
  width: 272px;
  position: relative;
}

div.content form input {
  position: relative;
  display: inline-block;
  font-family: arial;
}

div.content input.bar {
  line-height: 34px;
  width: 559px;
  height: 42px;
  font-size: 16px;
  padding: 0;
  margin-top: -8px;
  left: 38px;
  box-shadow: 0 2px 5px #E6E6E6;
  border: 1px solid;
  border-color: #EAEAEA #E6E6E6 #CBCBCB #DDDDDD;
  padding: 3px 9px 0 16px;
}

div.content input.bar:hover, div.content input.bar:focus {
  box-shadow: 2px 5px 3px #E6E6E6;
}

div.content input.button {
  height: 36px;
  width: 120px;
  line-height: 27px;
  border-radius: 2px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-weight: bold;
  font-size: 13px;
}

div.content div.buttons {
  margin-top: 30px;
  text-align: center;
}

div.content p {
  font-family: arial;
  color: rgb(66, 133, 244);
  font-size: 16px;
  position: relative;
  left: 403px;
  top: -32px;
  width: 80px;
  margin-bottom: 0;
}
/* footer */
a.footer {
  color: rgb(102, 102, 102);
}

nav.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  background-color: #F2F2F2;
  height: 40px;
  border-top: 1px solid #E4E4E4;
  line-height: 40px;
}

nav.footer div a {
}

nav.footer div.fl a {
  float: left;
  padding-left: 30px;
}

nav.footer div.fr a {
  float: right;
  padding-right: 30px;
}
